<nav>
    <div class="logo">
        <img src="img/logo.png" alt="">
    </div>
    <ul>
        <li><a href="papa.ejs">home</a></li>
        <li><a href="onlinebooking.ejs">onlinebooking</a></li>
        <li><a href="contrect.ejs">About</a></li>
    </ul>
   <div class="btn-bar" onclick="toggleDropdown()"><i class="fa-solid fa-bars" ></i></div>
</nav>